.search-box-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 35px;
  margin: 30px;
}
.search-box-wrapper>.search-box-input {
  padding: 3px;
  width: 60%;
  font-size: 20px;
}
.search-box-wrapper>.search-box-button {
  cursor: pointer;
}
.search-box-wrapper>.search-box-button:hover {
  background-color: red;
}